.signup-modal {
    width: 700px;
    height: 700px;
}

.signup-title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.signup-content li {
    list-style: none;
    display: flex;
    justify-content: center;
}

.errors{
    margin-left: 175px;
    color: red;
}

input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding-top:10px;
}

input[type="text"] {
    font-size: 20px;
}

input[type="password"]{
    font-size: 20px;
}



.signup-button {
    border-radius: 25px;
    background-color: #191919;
    color: #f6f6f6;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.change-form span {
    color: #1b8917;
    font-weight: bold;
    cursor: pointer;
}