.profile-dropdown-container{
    position: absolute;
    top: 60%;
    width: 250px;
    transform: translateY(-120%) translateX(5%);
    background-color: white;
    border: 1px solid #e6e6e6;
    box-shadow: 3px  #a09e9e;
}

.menu-item{
    list-style: none;
}

.username{
    font-weight: bold;
    font-size:x-large;
}

.email{
    font-size: small;
    color:#a09e9e;
}

.logout-button{
    cursor: pointer;
}