.link{
    text-decoration: none;
    color: inherit;
}
.story-container{
    margin-top: 30px;
    margin-left: 140px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.user-data{
    display: flex;
}


.author-name{
    font-size:large;
    margin-top: 5px;
    margin-left: 10px;
}

.date{
    color: gray;
    font-size: medium
}

.story-title{
    font-weight: bold;
    font-size:x-large;
    cursor: pointer;
}

.story-body{
    color:gray;
    cursor: pointer;
}

.story-img{
    margin-left: 100px;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.story-word-bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.story-word-bottom-left{
    display: flex;
}

.story-word-bottom-left div{
    margin-left: 10px;
}

.category-box{
    border-radius: 25px;
    background-color:#e6e6e6;
    color: black;
    display: flex;
}

#category-box {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

.reading-time {
    margin-top: 5px;
    color: gray;
}

.button-icon{
    display: flex;
    list-style: none;
}

.button-icon li{
    margin-left: 20px;
}
