.search{
    width: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    left: 25%;
}

form input{
    flex:1;
    width: 300px;
}

form button{
    background: rgb(213, 209, 209);
    padding: 10px, 50px;
    outline: none;
}



.search-result-container{
    position: relative;
    left:140px
}